
sd.raw
Build/slippi_nincfg.bin
Build/games/Super Smash Bros. Melee \[GALE01\]/game.iso
Build/apps/slippi-wiiconf/meta.xml
Build/apps/slippi-wiiconf/icon.png
Build/apps/slippi-wiiconf/boot.dol
Build/apps/Slippi Nintendont/meta.xml
Build/apps/Slippi Nintendont/icon.png
Build/apps/Slippi Nintendont/boot.dol
Build/Project+/BrawlInstaller/BuildSettings.json
Build/Project+/BrawlInstaller/FighterList.json
